@use "../../styles/scss/vars";

.commentsForm {
    
    &__inputWrapper {
        padding: 0.063em;
    }
    
    &__input {
        border-width: 0.063em;
    }

    &__invalidFeedback {
        display: inline-block;
        font-weight: bold;
    }

    &__inputTextContainer {
        max-width: 18.75em;

        &--error {
            
            & .commentsForm {

                &__label {
                    color: vars.$errorRed;
                }
                
                &__inputWrapper {
                    padding: 0;
                }

                &__input {
                    border: {
                        width: 0.125em;
                        color: vars.$errorRed;
                    }
                }

            }

        }

    }

}