@use "../../styles/scss/vars";
@use "../../styles/scss/buttons";

.reportGenerationSteps {

    &__ol {
        margin-bottom: 1em;
        list-style-type: none;
    }

    &__li {
        margin: 0.25em 0;
        position: relative;
    }

    &__checkbox {
        width: 1.5em;
        position: absolute;
        left: -2em;
        top: -0.1em;
    }

    &__alert {

        &:focus {
            color: vars.$buttonDisabledGrey;
        }

    }

    &__button {
        @extend .button;
        margin-bottom: 1em;
        font-size: 1rem;
        color: vars.$white;
        border: {
            width: 0.125em;
            style: solid;
            color: vars.$bodyBlack;
            radius: 0.5em;
        }
        background-color: vars.$bodyBlack;
    
        &:hover, &:focus {
            color: vars.$bodyBlack;
            text-decoration: none;
            border-color: vars.$buttonBorderGrey;
            background-color: vars.$white;
        }

        &:disabled {
            border-color: vars.$buttonDisabledGrey;
            background-color: vars.$buttonDisabledGrey;
            
            &:hover, &:focus {
                color: vars.$white;
                cursor: default;
            }

        }

    }

    &__progress {
        margin-bottom: 1.3em;
    }

}