$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$bodyBlack: hsl(210, 11%, 15%);
$headerBlack: hsla(210, 11%, 15%, 1);
$buttonBorderGrey: hsl(0, 0%, 58%);
$lightGreyBackground: hsl(0, 0%, 95%);
$buttonDisabledGrey: hsl(0, 0%, 46%);
$errorRed: hsl(0, 100%, 46%);
$successGreen: hsl(121, 100%, 46%);

$hamburgerWhite: hsla(0, 0%, 100%, 0.65);
$hamburgerBorder: hsla(0, 0%, 100%, 0.15);