$rootFontSize: 16px;

// Bootstrap Breakpoints:
// 
// Smartphone: 320px -> 767px (xs)
// Tablet: 768px -> 991px (md)
// Desktop: 992px -> 1400px (lg)

$legalFontSizeXs: 0.65rem;
$legalFontSizeLg: 0.7rem;