@use "../../styles/scss/vars";

.languageSelector {

    &__button {
        padding: 0.25em 0.6em;
        display: inline-block;
        font-size: 0.85rem;
        color: vars.$white;
        border: {
            width: 0.125em;
            style: solid;
            color: vars.$bodyBlack;
            radius: 0.5em;
        }
        background-color: vars.$bodyBlack;

        &:hover, &:focus {
            color: vars.$bodyBlack;
            text-decoration: none;
            border-color: vars.$buttonBorderGrey;
            background-color: vars.$white;
        }
        
    }

}