@use "../../styles/scss/vars";
@use "../../styles/scss/buttons";

.userTime {

    &__aside {
        border: {
            width: 0.063em;
            style: solid;
            color: vars.$buttonBorderGrey;
            radius: 0.375em;
        }
        background-color: vars.$lightGreyBackground;
    }

    &__ul {
        margin: 0;
        padding: 1em 1.5em;
        list-style-type: none;
    }

}

.logOut {
    
    &__ul {
        margin: 0;
        padding: 1em 0;
        list-style-type: none;
    }

    &__li {
        margin: 0 1.5em;
    }

    &__button {
        @extend .button;
        color: vars.$white;
        border-color: vars.$bodyBlack;
        background-color: vars.$bodyBlack;

        &:hover, &:focus {
            color: vars.$bodyBlack;
            border-color: vars.$buttonBorderGrey;
            background-color: vars.$white;
        }

    }

}