@use "./vars";

/// :root {
///     font-size: vars.$rootFontSize;
/// }

#__next {
    /*
    NOTE: The following height, display and flex-direction styles need 
    to be in place for Bootstrap’s sticky footer feature. The #__next <div> 
    is injected manually into the interface and wraps all of the app’s 
    content, so these styles have been manually inserted below.

    The classes that would normally apply these styles have been listed 
    to their right below.

    Sticky footer with fixed navbar: https: //getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/
    */
    height: 100% !important; // .h-100
    display: flex !important; // .d-flex
    flex-direction: column !important; // .flex-column
}

.button {padding: 0.25em 0.6em;
    display: inline-block;
    font-size: 0.85rem;
    text-decoration: none;
    /// color: vars.$bodyBlack;
    border: {
        width: 0.125em;
        style: solid;
        /// color: vars.$buttonBorderGrey;
        radius: 0.5em;
    }
    // background-color: vars.$white;

    &:hover, &:focus {
        /// color: vars.$white;
        text-decoration: none;
        /// background-color: vars.$bodyBlack;
    }

}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";