@use "./vars";

.button {
    padding: 0.25em 0.6em;
    display: inline-block;
    font-size: 0.85rem;
    text-decoration: none;
    /// color: vars.$bodyBlack;
    border: {
        width: 0.125em;
        style: solid;
        /// color: vars.$buttonBorderGrey;
        radius: 0.5em;
    }
    /// background-color: vars.$white;

    &:hover, &:focus {
        /// color: vars.$white;
        text-decoration: none;
        /// background-color: vars.$bodyBlack;
    }

}